<!DOCTYPE html>
<html>

<head>
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"crossorigin="anonymous"></script>
	<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
	<script src='https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js'></script>
	<script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.15.2/antd.min.js" integrity="sha512-gzSgIZOTyFwBSIX3ezCnuPyUgKGsJ/tGXLZ1uF7En1I+/FTuaz7iJmazu3N+J0PkpHmSZ4Q+AmoOxkbjhi4Y7A==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.15.2/antd.dark.min.css" integrity="sha512-mQuNmaQCE9yYq3Px9oEn8Jr0EXQQXZy946kLCg53bKIQJypY9vCflwuLAdUQ99x+MLLPRNBlpMBiE7yuecA0LQ==" crossorigin="anonymous" />
	<script type='text/babel' src="/static/index.js"></script>
</head>

<body style="font-family:'Recursive'; margin-bottom: 2%;">
	
	
	
	
	
	<div id='root'></div>
	<script type='text/babel'>
		const authors = {{authors|safe}};
		const Link = ReactRouterDOM.Link; 
		const Route = ReactRouterDOM.Route;
		const Switch = ReactRouterDOM.Switch;
		const Skeleton = antd.Skeleton;


		
		const App = () => (
		<ReactRouterDOM.BrowserRouter>

		{% raw %}
		<nav className="navbar navbar-expand-lg navbar-dark bg-dark">
		<div className="container-fluid">
			<a className="navbar-brand">CMPRSSD-Wisdom</a>
			<button className="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span className="navbar-toggler-icon"></span>
			</button>
			
			<div className="collapse navbar-collapse" id="navbarColor02">
				<ul className="navbar-nav mr-auto" id='link-list'>
					<li className="nav-item">
						<a className="nav-link" href="#"><Link style={{color:'white'}} to='/'> Home </Link></a>
					</li>
					<li className="nav-item">
						<a className="nav-link" style={{color:'white'}} href="https://github.com/Sirri69/CMPRSSD-Wisdom">About</a>
					</li>
					<li className="nav-item dropdown">
						<a className="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" style={{color:'white'}} aria-haspopup="true" aria-expanded="false">Authors</a>
						<div className="dropdown-menu" id = "Nav_Dropdown">
						{authors.map((author, id) => 
	 						<Link style={{color:'white'}} className="dropdown-item" key={author} to={'/author/'+author}>{author}</Link>
							 
	 					)}
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
		
			<Switch>
			<Route path="/" exact component={(props) => <Page props={props}/> } />
			<Route path="/author/:name" exact component={(props) => <Page props={props}/> } />
			<Route path="/page/:n" exact component={(props) => <Page props={props}/> } />
			<Route path="*" exact component={(props) => <h1>You seem lost, go back <Link to='/'>Home</Link></h1> } />
			</Switch>
			
		</ReactRouterDOM.BrowserRouter>
		
			)
			
			ReactDOM.render(<App />, document.querySelector('#root'));

{% endraw %}
		</script>
</body>

</html>